.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #000;
  color: #fff;
}

.logo {
  font-size: 22px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  font-size: 16px;
}

.nav-links li:hover {
  text-decoration: underline;
}
